
.hexagon {
    height: 80px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    border-radius: 11px;
}

.toaster {
    background-color: #0F2F26;
}


.activities table tr {
    border-bottom: 0px !important;
    padding: 12px;
}

[data-sonner-toast] [data-content] {
    margin-left: 1rem !important;
}